@model MVC_Hunde.ProxyConsulta.Consulta

@{
    ViewBag.Title = "DetallesDeConsulta";
}

<h2>Detalles De Consulta</h2>

@using (Html.BeginForm("DetallesDeConsulta", "Consulta"))
{    
<div class="form-horizontal">
    <h4>Consulta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.cod_consulta, "Codigo de Consulta: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" >
            @Html.EditorFor(model => model.cod_consulta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cod_consulta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nom_pac, "Mascota: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nom_pac, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nom_pac, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tipo_pac, "Tipo: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tipo_pac, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tipo_pac, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.raza_pac, "Raza: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.raza_pac, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.raza_pac, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.color_pac, "Color: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.color_pac, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.color_pac, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nom_cli, "Lo trajo: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nom_cli, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nom_cli, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nom_emp, "Lo atendió: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nom_emp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nom_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fec_consulta, "Fecha: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fec_consulta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fec_consulta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.hora_consulta, "Hora: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.hora_consulta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.hora_consulta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.actividad, "Actividad: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.actividad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.actividad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.conduta, "Conducta: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.conduta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.conduta, "", new { @class = "text-danger" })
        </div>
    </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.cod_tratamiento, "Tratamiento: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cod_tratamiento", (List<SelectListItem>)ViewBag.tratamientos, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cod_tratamiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, "Estado de la mascota: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("estado", (List<SelectListItem>)ViewBag.estadosPac, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_medicina, "Medicina: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cod_medicina", (List<SelectListItem>)ViewBag.medicinas, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cod_medicina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                @Html.LabelFor(model => model.observaciones, "Observaciones: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                </div>
            </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="DetallesDeConsulta" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
